* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hide-controler{
    display: none;
}

.dinamic-text:hover .hide-controler{
    display: block;
}

.dinamic-text {
    width: fit-content;
}